.feedback {
  margin-top: 30px;
}

.table th,
.table td {
  // padding: 0.75rem;
  padding-left: 2rem;
}

.btn_margin {
  margin-left: 750px;
  margin-top: 15px;
}

.bottom_margin {
  margin-bottom: 100px;
}

.trainer-cls {
  width: 920px;
  margin-left: 15px;
  margin-bottom: 15px;
}