<div id="titlebar" class="gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>"Language List"</h4>
        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li>LanguageDomain</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top-0">
  <div class="row">
    <div class="col-xl-3 col-lg-4 margin-top-40">
      <div class="sidebar-container">
        <div class="sidebar-widget">
          <h5>Diffculty</h5>
          <div class="switches-list">
            <div class="switch-container">
              <label class="switch"
                ><input type="checkbox" (click)="filterQuestion('Easy')" /><span
                  class="switch-button"
                ></span
                >Easy</label
              >
            </div>
          </div>
          <div class="switches-list">
            <div class="switch-container">
              <label class="switch"
                ><input
                  type="checkbox"
                  (click)="filterQuestion('Medium')"
                /><span class="switch-button"></span>Medium</label
              >
            </div>
          </div>
          <div class="switches-list">
            <div class="switch-container">
              <label class="switch"
                ><input type="checkbox" (click)="filterQuestion('Hard')" /><span
                  class="switch-button"
                ></span
                >Difficult</label
              >
            </div>
          </div>
        </div>
        <div class="sidebar-widget">
          <h5>Status</h5>
          <div class="switches-list">
            <div class="switch-container">
              <label class="switch"
                ><input type="checkbox" /><span class="switch-button"></span
                >Solved</label
              >
            </div>
          </div>
          <div class="switches-list">
            <div class="switch-container">
              <label class="switch"
                ><input type="checkbox" /><span class="switch-button"></span
                >Unsolved</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-9 col-lg-8 margin-top-10">
      <!-- <h3 class="page-title">Language Lists</h3> -->
      <!-- <h3 class="page-title">Search Results</h3> -->

      <!-- <div class="notify-box margin-top-15">
				<div class="switch-container">
					<label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
				</div>

				<div class="sort-by">
					<span>Sort by:</span>
					<select class="selectpicker hide-tick">
						<option>Relevance</option>
						<option>Newest</option>
						<option>Oldest</option>
						<option>Random</option>
					</select>
				</div>
            </div> -->

      <div class="listings-container compact-list-layout margin-top-35">
        <!-- Job Listing -->
        <a class="job-listing" *ngFor="let pr of practiceQList">
          <!-- Job Listing Details -->
          <div class="job-listing-details">
            <!-- Logo -->
            <!-- <div class="job-listing-company-logo">
                                    <img src="images/company-logo-01.png" alt="">
                                </div> -->

            <!-- Details -->
            <div class="job-listing-description">
              <h3 class="job-listing-title">{{ pr.name }}</h3>

              <!-- Job Listing Footer -->
              <div class="job-listing-footer">
                <ul>
                  <li>{{ pr.difficulty }} ,</li>
                  <li>Max Score : {{ pr.max_score }}</li>
                  <!-- <li>Success Rate: 80%</li> -->
                </ul>
              </div>
            </div>

            <!-- Bookmark -->
            <!-- <span class="bookmark-icon"></span> -->
            <a (click)="gotolanguageTask(pr.id)" class="button"
              >Solve Challenge
            </a>
          </div>
        </a>
      </div>

      <!-- Pagination -->
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <!-- Pagination -->
          <div class="pagination-container margin-top-60 margin-bottom-60">
            <nav class="pagination">
              <ul>
                <li class="pagination-arrow">
                  <a href="#"
                    ><i class="icon-material-outline-keyboard-arrow-left"></i
                  ></a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#" class="current-page">2</a></li>
                <li><a href="#">3</a></li>
                <li class="pagination-arrow">
                  <a href="#"
                    ><i class="icon-material-outline-keyboard-arrow-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- Pagination / End -->
    </div>
  </div>
  <!--row end-->
</div>
<!--container end-->

<div class="margin-bottom-90"></div>
