<div id="sign-in-dialog" class="zoom-anim-dialog dialog-with-tabs">
  <div class="popup-tabs-container">
    <!-- Login -->
    <div class="popup-tab-content" id="login">
      <form method="post" id="login-form">
        <div *ngIf="!tkn">
          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input
              type="text"
              class="input-text with-border"
              name="emailaddress"
              id="emailaddress"
              [(ngModel)]="email"
              placeholder="Email Address"
              required
            />
            <p *ngIf="emailflag" class="is-danger">
              email does not exist.
            </p>
          </div>

          <button
            class="button full-width button-sliding-icon ripple-effect"
            type="submit"
            form="login-form"
            (click)="submit()"
            [class.is-loading]="showLoading"
          >
            Submit <i class="icon-material-outline-arrow-right-alt"></i>
          </button>
        </div>

        <div *ngIf="tkn">
          <!-- <button
            class="button is-small is-rounded has-icons-left back-btn popup-tabs-nav"
            (click)="Back()"
          >
            <i class="fa fa-arrow-left"></i>&nbsp; Back
          </button> -->

          <div class="submit-field">
            <!-- <i class="icon-material-baseline-mail-outline"></i> -->
            <input
              type="text"
              class="with-border"
              name="token"
              id="token"
              [(ngModel)]="token"
              placeholder="Enter Token"
              [class.bdr-red]="submitted && !token"
            />
            <p *ngIf="tokenFlag" class="is-danger">invalid token</p>
          </div>

          <div class="submit-field">

            <input
              type="password"
              class="input-text with-border"
              name="password"
              id="password"
              [(ngModel)]="newPassword"
              placeholder="Password"
              [class.bdr-red]="submitted && !newPassword"
            />
          </div>
          <div class="submit-field">
            
            <input
              type="password"
              class="input-text with-border"
              name="password"
              id="password"
              [(ngModel)]="cnfPassword"
              placeholder="Confirm Password"
            />
            <p *ngIf="pwdFlag" class="is-danger">
              password does not match
            </p>
          </div>

          <button
            class="button full-width button-sliding-icon ripple-effect"
            (click)="updatePassword()"
            [class.is-loading]="showLoading"
            type="submitNow"
            form="login-form"
          >
            Submit <i class="icon-material-outline-arrow-right-alt"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
