::ng-deep {
  .angular-editor-toolbar {
    .angular-editor-toolbar-set {
      select {
        height: 25px;
        margin: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px !important;
      }

      label {
        padding: 0px;
        margin-bottom: 0px;
      }
    }
  }
}

.edit-btn {
  float: right;
}
ul {
  list-style-type: none;
}
