<!-- Intro Banner
================================================== -->
<!-- add class "disable-gradient" to enable consistent background overlay -->
<div class="intro-banner">
  <div class="container">
    <!-- Intro Headline -->
    <div class="row">
      <div class="col-md-12">
        <div class="banner-headline">
          <h3>
            <!-- <strong>Join over 5 million developers.</strong> -->
            <br />
            Learn & Practice <strong class="color">coding</strong> , prepare for
            interviews, and get hired.
          </h3>
        </div>
      </div>
    </div>

    <!-- Search Bar -->
    <div class="row">
      <div class="col-md-12">
        <div class="intro-banner-search-form margin-top-95">
          <!-- Search Field -->
          <!-- <div class="intro-search-field with-autocomplete">
            <label for="autocomplete-input" class="field-title ripple-effect"
              >Where?</label
            >
            <div class="input-with-icon">
              <input
                id="autocomplete-input"
                type="text"
                placeholder="Online Coding"
              />
              <i class="icon-material-outline-location-on"></i>
            </div>
          </div> -->

          <!-- Search Field -->
          <!-- <div class="intro-search-field">
            <label for="intro-keywords" class="field-title ripple-effect"
              >What language you want to practice?</label
            >
            <input
              id="intro-keywords"
              type="text"
              placeholder="Language Title or Keywords"
            />
          </div> -->

          <!-- Button -->
          <!-- <div class="intro-search-button">
            <button
              class="button ripple-effect"
              onclick="window.location.href='jobs-list-layout-full-page-map.html'"
            >
              Search
            </button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Stats -->
    <div class="row">
      <div class="col-md-12">
        <!-- <ul class="intro-stats margin-top-45 hide-under-992px">
          <li>
            <strong class="counter">1,586</strong>
            <span>Problems Posted</span>
          </li>
          <li>
            <strong class="counter">3,543</strong>
            <span>Problems solved</span>
          </li>
          <li>
            <strong class="counter">1,232</strong>
            <span>People joined</span>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  <div
    class="background-image-container"
    style='background-image: url("assets/images/home-background.jpg");'
  ></div>
</div>
