.floats-right {
  float: right;
}

.checkbox-input {
  input {
    width: 20px !important;
    height: 20px !important;
    box-shadow: none !important;
  }
}

.wd {
  width: 200px;
}

#MyTable td:hover {
  //background-color: #0069d9;
  cursor: pointer;
}
